src/main/resources/exchange_format/catalogDescription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalogDescription" type="catalogDescriptionType"/>
  <xs:complexType name="nameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="characteristicTypeType">
    <xs:sequence>
      <xs:element type="codeType" name="code"/>
      <xs:element type="nameType" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="characteristicValueType">
    <xs:sequence>
      <xs:element type="characteristicType" name="characteristic"/>
      <xs:element type="characteristicTypeType" name="characteristicType"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="value" use="optional"/>
  </xs:complexType>
  <xs:complexType name="codeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="measurementTypeType">
    <xs:sequence>
      <xs:element type="codeType" name="code"/>
      <xs:element type="nameType" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="catalogDescriptionType">
    <xs:sequence>
      <xs:element type="nameType" name="name"/>
      <xs:element type="characteristicValueType" name="characteristicValue" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shortNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="measurementType">
    <xs:sequence>
      <xs:element type="codeType" name="code"/>
      <xs:element type="nameType" name="name"/>
      <xs:element type="shortNameType" name="shortName"/>
      <xs:element type="measurementTypeType" name="measurementType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="measurementsType">
    <xs:sequence>
      <xs:element type="measurementType" name="measurement" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="characteristicType">
    <xs:sequence>
      <xs:element type="codeType" name="code"/>
      <xs:element type="nameType" name="name"/>
      <xs:element type="measurementsType" name="measurements"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>